<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <title>{% block title %} Welcome {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Profile/css/main.css' %}">
</head>
<body>
    <div class="Header">
        <h1 class="title">Rhytmify</h1>

        <div class="header-user">
            <a href="{% url 'spotify_login' %}" class="spotify-button">Spotify</a>
            <h1 class="username">{{ user.username }}</h1>
            <img src="{{ user.image.url }}" class="user-image" alt="Picture">
        </div>
    </div>


</body>
</html>
