<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <title>{% block title %} Welcome {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'User/css/login.css' %}">
</head>
<body>
    <div class="Header">
        <h1 class="title">Rhytmify</h1>
    </div>

    <div class="login-container">
        {% block content %}
            <form method="post">
                <h2>Log In</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
            <div class="register-button-class">
                <a href="{% url 'register' %}" class="register-button">Registration</a>
                <a href="{% url 'spotify_login' %}" class="spotify-button">Spotify</a>
            </div>
        {% endblock %}
    </div>
</body>
</html>
