body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px;
    z-index: 1000;
}

.Header .title {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 27px;
}

.login-container {
    border: 2px solid #202020;
    box-shadow: 0 0 15px;
    border-radius: 10px;
    width: 200px;
    min-height: 350px;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 150px;
}

.login-container form h2 {
    justify-content: center;
    display: flex;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 12px 18px;
    align-items: center;
    border: 2px solid #202020;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
    transition: 0.3s;
}

.login-container input:focus {
    border-color: #3e3e3e;
    box-shadow: 0 0 3px #3e3e3e;
}

.login-container label {
    font-family: 'Orbitron', sans-serif; /* игровой шрифт */
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
}

.login-container button {
    margin-top: 15px;

    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #202020;
    transition: background-color 0.5s ease,
                color 0.5s ease,
                border 0.5s ease,
                box-shadow 0.5s ease;
}

.login-container button:hover {
    border-radius: 5px;
    background-color: #202020;
    border: 2px solid #202020;
    box-shadow: 0 0 2px #202020;
    color: white;
}

.register-button-class {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}



.register-button {
    color: #202020;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid #202020;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none; /* убирает подчёркивание */
    display: inline-block; /* чтобы можно было паддинг/бордер задавать */
    transition: background-color 0.5s ease,
                color 0.5s ease,
                border 0.5s ease,
                box-shadow 0.5s ease;
}

.register-button:hover {
    background-color: #202020;
    border: 2px solid #202020;
    box-shadow: 0 0 2px #202020;
    color: white;
}



.spotify-button {
    padding: 10px 26px;
    color: #38ca00;
    font-size: 15px;
    border: 2px solid #38ca00;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    display: inline-block; /* чтобы можно было паддинг/бордер задавать */
    transition: background-color 0.5s ease,
                color 0.5s ease,
                border 0.5s ease,
                box-shadow 0.5s ease;
}

.spotify-button:hover {
    background-color: #38ca00;
    color: white;
    box-shadow: 0 0 2px #38ca00;
}