body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px;
    z-index: 1000;
}

.Header .title {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 27px;
}

.header-user {
    display: flex;
    flex-direction: column;   /* ставим всё в колонку */
    align-items: center;      /* выравниваем по центру */
    gap: 10px;                /* расстояние между элементами */
}

/* Для красоты */
.header-user .spotify-button {
    padding: 8px 16px;
    background: #1DB954;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.header-user .username {
    color: white;
    font-size: 20px;
}

.header-user .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.spotify-button {
    padding: 10px 26px;
    color: #38ca00;
    font-size: 15px;
    border: 2px solid #38ca00;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    display: inline-block; /* чтобы можно было паддинг/бордер задавать */
    transition: background-color 0.5s ease,
                color 0.5s ease,
                border 0.5s ease,
                box-shadow 0.5s ease;
}

.spotify-button:hover {
    background-color: #38ca00;
    color: white;
    box-shadow: 0 0 2px #38ca00;
}